name: "JFrog Integration Example"
on: push


jobs:
  build:
     runs-on: ubuntu-latest
     steps:
       - name: Checkout
         uses: actions/checkout@v3
       - name: Setup JFrog CLI
         uses: jfrog/setup-jfrog-cli@v3
         env:  
           JF_URL: ${{ secrets.JF_URL }}
           JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
       - name: Setup Node npm
         uses: actions/setup-node@v3
         with:
           node-version: 16
       - name: Set CLI Config
         run: jf npm-config --global=true --repo-resolve=my-npm --repo-deploy=my-npm
       - name: Install Deps
         run:  cd package && ls -la && jf npm install
       - name: Run tests
         run:  cd package && npm test
       - name: Publish Build info With JFrog CLI
         run: |
          # Collect environment variables for the build
          jf rt build-collect-env
          # Collect VCS details from git and add them to the build
          jf rt build-add-git
          # Publish build info
          jf rt build-publish
